div#carousel-1.carousel.slide{
  margin-top:-21px;
}

div.row{
  margin-left:0px;
  margin-right:0px;
}

footer#foot{
  background-color:rgb(0,87,255);
}

nav#n.navbar.navbar-inverse{
  text-decoration-color:white;
  background-color:#0f5c12;
  text-indent:white;
}

#c{
  vertical-align:baseline;
}

#h3{
  align-content:space-between;
  color:green;
}

#submit{
  width:100%;
  clear:left;
  margin:20px 5px;
  font-size:15px;
  text-align:center;
  padding:5px 5px;
  color:white;
  background-color:#4CAF50;
}

div#row.row{
  margin:-36px;
  margin-top:-22;
  margin-left:-3px;
}

#cap{
  margin-left:100px;
  margin-top:1px;
  margin-bottom:10px;
  margin-right:100px;
  visibility:initial;
}

.dropbtn{
  white-space:10px;
  padding:10px;
  font-size:10px;
  color:white;
  background-color:green;
}

.dropdown{
  position:relative;
  display:inline-block;
}

.dropdown-content{
  z-index:1;
  display:none;
  position:absolute;
  min-width:160px;
  background-color:white;
  box-shadow:0px 8px 16px 0px;
}

.dropdown-content a{
  color:black;
  padding:10px 12px;
  display:block;
  text-decoration:none;
}

.dropdown:hover .dropdown-content{
  display:block;
}

.dropdown:hover .dropbtn{
  background-color:#3e8e41;
}

.dropdown-content a:hover{
  background-color:#f1f1f1;
}

#drop{
  margin-top:-108px;
}

#hr{
  color:green;
  border-color:green;
  border-width:2px;
  width:100%;
}

#hr1{
  color:green;
  border-color:green;
  border-width:2px;
  width:81%;
  align-self:right;
}

#h4{
  color:green;
  margin-left:-56px;
}

#e{
  margin-top:25px;
  height:365px;
}

h1.text-center.text-primary.bg-primary{
  color:white;
  background:rgb(0,148,255);
}

nav#n.navbar.navbar-inverse{
  background:rgb(0,87,255);
}

#headingback{
}

#hb{
  background:rgb(0,87,255);
}

a.btn.btn-primary.btn-lg{
  background-color:rgb(0,178,255);
}

#im{
  height:500px;
}

.bg-primary{
  color:#fff;
  background-color:rgb(0,87,255);
}

input[type="text"], input[type="email"], input[type="tel"]{
  width:1100px;
  height:45px;
  border-radius:4px;
  font-size:18px;
  margin-bottom:20px;
  background-color:rgba(179, 179, 179,0.4);
  padding-left:30px;
}

